<template><div>
    <div>
        <div class="alert alert-success" v-if="showSuccess">
            <button type="button" class="btn btn-link pull-right" v-on:click="showSuccess=false">&times;</button>
            <strong>{{ successMessage }}</strong>
        </div>
        <div class="alert alert-danger" v-if="showFailure">
            <button class="btn btn-link pull-right" @click="showFailure=false">
                &times;
            </button>
            <strong><p v-for="msg in failMessage">{{ msg }}</p></strong>
        </div>
    </div>

    <form>
        <div class="row">
            <div class="col-md-offset-4 col-md-4 col-xs-12">
                <h2 class="form-signin-heading">Edit Platform Configurations</h2>

                <label for="platformEmail">
                    {{ this.$root.title }} e-mail address:
                </label>
                <input type="text" id="platformEmail"
                       class="form-control"
                       placeholder="New platform e-mail"
                       v-model="platformEmail">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-4 col-md-2 col-xs-6">
                <button type="submit"
                        class="btn btn-lg btn-info btn-block"
                        @click.prevent="goBack">
                    Cancel
                </button>
            </div>
            <div class="col-md-2 col-xs-6">
                <button type="submit"
                        class="btn btn-lg btn-primary btn-block"
                        @click.prevent="editPConfig">
                    Save
                </button>
            </div>
        </div>
    </form>
</div></template>

<script type="text/javascript">

    export default{
        data: function() {
            return {
                showSuccess: false,
                showFailure: false,
                successMessage: '',
                failMessage: [],
                platformEmail: '',
            }
        },
        methods: {
            goBack: function(){
                this.$router.push({ path: '/admin' });
            },
            editPConfig: function(){
                this.showSuccess = true;
                this.showFailure = false;
                this.successMessage = 'Updating...';

                this.$root.axiosInstance.put(
                    '../api/platform-email/1',
                    {
                        email: this.platformEmail
                    })
                .then(response => {
                    this.showSuccess = true;
                    this.showFailure = false;
                    this.successMessage = response.data;
                }).catch(response => {
                    this.showSuccess = false;
                    this.showFailure = true;
                    this.$root.pushLaravelValidationErrorsTo(
                        this.failMessage,
                        response,
                        "Unable to update configurations:"
                    );
                });
            },
            getPlatformEmail: function(){
                this.$root.axiosInstance.get('../api/platform-email/1')
                    .then(response => {
                        this.platformEmail = response.data.platform_email;
                    });
            },
        },
        created() {
            this.getPlatformEmail();
        }
    }
</script>